@import url(http://fonts.googleapis.com/css?family=Ubuntu:100,300,400,700);
@font-face {
  font-family: 'mini50';
  src: url("/mini50.eot");
  src: url("/mini50.eot?#iefix") format("embedded-opentype"), url("/mini50.woff") format("woff"), url("/mini50.ttf") format("truetype"), url("/mini50.svg#mini50") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 61, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%; }

/* line 64, ../../../../.rbenv/versions/1.9.3-p362/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.42857em; }

/* line 71, partials/_main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 73, partials/_main.scss */
html {
  overflow: hidden; }

/* line 75, partials/_main.scss */
body {
  background-image: url(/background.png);
  background-color: #f3f3f3;
  color: #a3a09f;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300; }

/* line 83, partials/_main.scss */
p {
  margin-bottom: 1.5em; }

/* line 85, partials/_main.scss */
.members {
  margin-top: 1.5em;
  margin-left: 1.5em;
  color: #d7d4d4; }

/* line 91, partials/_main.scss */
#root {
  max-width: 640px;
  margin: 0 auto; }

/* line 93, partials/_main.scss */
.chat-wrapper {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 24px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 5px 24px rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.12);
  position: relative; }

/* line 99, partials/_main.scss */
.chat-frame {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: inset 0 -4px 0 rgba(209, 207, 207, 0.4), inset 0 1px 0 #f6f5f5;
  -moz-box-shadow: inset 0 -4px 0 rgba(209, 207, 207, 0.4), inset 0 1px 0 #f6f5f5;
  box-shadow: inset 0 -4px 0 rgba(209, 207, 207, 0.4), inset 0 1px 0 #f6f5f5;
  overflow: auto;
  background-color: #ebebeb;
  border: 1px solid #cbc8c9;
  border-bottom: none;
  height: 333px;
  max-height: 333px; }

/* line 111, partials/_main.scss */
.messages {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

/* line 113, partials/_main.scss */
.message {
  -webkit-box-shadow: 0 -1px 0 0 #d7d4d4;
  -moz-box-shadow: 0 -1px 0 0 #d7d4d4;
  box-shadow: 0 -1px 0 0 #d7d4d4;
  display: block;
  border-top: 1px solid #f6f5f5;
  vertical-align: top;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  vertical-align: bottom; }
  /* line 122, partials/_main.scss */
  .message:first-child {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none; }
  /* line 127, partials/_main.scss */
  .message .gutter {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    border-radius: 1000px;
    background-color: #cbc8c9;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    margin-left: 1.5em;
    vertical-align: top; }
    /* line 137, partials/_main.scss */
    .message .gutter.pink {
      background-color: #fa6b7c; }
    /* line 138, partials/_main.scss */
    .message .gutter.orange {
      background-color: #ffc766; }
    /* line 139, partials/_main.scss */
    .message .gutter.green {
      background-color: #87cd8e; }
    /* line 140, partials/_main.scss */
    .message .gutter.cyan {
      background-color: #71cdde; }
  /* line 143, partials/_main.scss */
  .message .body {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-left: 0.75em;
    width: 85%; }
  /* line 149, partials/_main.scss */
  .message .name {
    color: #7b7979;
    font-weight: 700; }
  /* line 153, partials/_main.scss */
  .message .time {
    color: #cbc8c9;
    padding-left: 10px;  }

/* line 158, partials/_main.scss */
.chat-bar {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: inset 0 1px 0 #cbc8c9;
  -moz-box-shadow: inset 0 1px 0 #cbc8c9;
  box-shadow: inset 0 1px 0 #cbc8c9;
  background-color: #f6f5f5;
  border-color: #cbc8c9;
  border-style: solid;
  border-top: none;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  height: 47px;
  position: relative; }
  /* line 172, partials/_main.scss */
  .chat-bar input {
    background: none;
    border: none;
    height: 47px;
    color: #a3a09f;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 4px;
    width: 100%;
    height: 46px;
    padding-left: 42px;
    position: absolute;
    left: 0; }
    /* line 63, partials/_main.scss */
    .chat-bar input:-moz-placeholder {
      color: #cbc8c9;
      font-weight: 100; }
    /* line 64, partials/_main.scss */
    .chat-bar input::-webkit-input-placeholder {
      color: #cbc8c9;
      font-weight: 100; }
  /* line 188, partials/_main.scss */
  .chat-bar input:focus {
    -webkit-box-shadow: inset 0 0 6px #cbc8c9;
    -moz-box-shadow: inset 0 0 6px #cbc8c9;
    box-shadow: inset 0 0 6px #cbc8c9;
    outline: none; }
  /* line 196, partials/_main.scss */
  .chat-bar .message-icon, .chat-bar .nickname-icon {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    color: #d7d4d4;
    margin-left: 15px;
    margin-top: 14px;
    position: relative;
    z-index: 100; }
    /* line 203, partials/_main.scss */
    .chat-bar .message-icon.focused, .chat-bar .message-icon:hover, .chat-bar .nickname-icon.focused, .chat-bar .nickname-icon:hover {
      color: #5ed1be; }
  /* line 206, partials/_main.scss */
  .chat-bar .right i[class*='-icon'] {
    margin-top: 4px;
    margin-right: 4px; }
  /* line 208, partials/_main.scss */
  .chat-bar .send-button, .chat-bar .ok-button {
    background: #5ed1be;
    position: relative;
    z-index: 100; }

/* line 216, partials/_main.scss */
.tooltip {
  display: none; }

/* line 219, partials/_main.scss */
.startup .messages {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4; }
/* line 220, partials/_main.scss */
.startup .tooltip {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #5ed1be;
  position: absolute;
  color: white;
  font-size: 16px;
  top: -40px;
  left: 5px;
  height: 35px;
  padding: 8px 20px; }
  /* line 232, partials/_main.scss */
  .startup .tooltip:before {
    content: '';
    height: 0;
    width: 0;
    bottom: -10px;
    left: 8px;
    border-top: 10px solid #5ed1be;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute; }

/* line 246, partials/_main.scss */
.right {
  float: right; }

/* line 247, partials/_main.scss */
.hide {
  display: none; }

@media only screen and (min-width: 320px) and (max-width: 540px) {
  /* Styles */ }
/* line 258, partials/_main.scss */
[class*="-icon"]:before {
  font-family: 'mini50';
  font-size: 16px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* line 270, partials/_main.scss */
.message-icon:before {
  content: "\e000"; }

/* line 271, partials/_main.scss */
.nickname-icon:before {
  content: "\e001"; }

/* line 272, partials/_main.scss */
.users-icon:before {
  content: "\e002"; }

/* line 274, partials/_main.scss */
button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -1px 0 #85dbcc, 0 1px 0 #30b09e;
  -moz-box-shadow: inset 0 -1px 0 #85dbcc, 0 1px 0 #30b09e;
  box-shadow: inset 0 -1px 0 #85dbcc, 0 1px 0 #30b09e;
  text-shadow: 0 1px 0 #30b09e;
  border: none;
  color: #f3f3f3;
  font-size: 14px;
  font-weight: 700;
  margin-top: 6px;
  margin-right: 6px;
  padding: 8px 25px 8px; }

/* line 288, partials/_main.scss */
::-webkit-scrollbar {
  width: 10px; }

/* line 292, partials/_main.scss */
::-webkit-scrollbar-track {
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -ms-border-radius: 0 5px 0 0;
  -o-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
  background-color: #f3f3f3; }

/* line 298, partials/_main.scss */
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 0 2px #f3f3f3;
  -moz-box-shadow: inset 0 0 0 2px #f3f3f3;
  box-shadow: inset 0 0 0 2px #f3f3f3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #d7d4d4; }
