<_within file="application.html">
  
  <div id="content">
    
    <div template="word-transform">

      <h1 field="content:title">Some Title</h1>

      <input id="word-input" type="text" placeholder="Enter a word" class="input-xlarge">

      <div class="row">
        <div class="span6">
          <table class="table table-bordered" style="margin-top:10px">
            <tr>
              <td style="text-align:right">Word :</td>
              <td field="content:identity">Earth</td>
            </tr>
            <tr>
              <td style="text-align:right">Reverse :</td>
              <td field="content:reverse">htraE</td>
            </tr>
            <tr>
              <td style="text-align:right">Count :</td>
              <td style="text-align:right" field="content:length">5</td>
            </tr>
          </table>
        </div>
      </div>

    </div>

  </div>

</_within>
